.statContainer {
    position: relative;
    grid-column: 3;
    justify-self: end;
    display: flex;
    align-items: center;

    height: auto;
    padding: 0.3rem 15px;
    margin-right: 0.25rem;

    background: var(--card-bg);
    border: 1px solid var(--accent);
    border-radius: 6px;
    gap: 15px;
}

.statContainer:hover {
    box-shadow: 0 0 15px var(--accent-glow);
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color);
}

.label {
    font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.value {
    font-size: 0.8rem;
    color: var(--color);
    font-family: "Mono", monospace;
}

.value span {
    margin: 2px 0 0 0;
}

.divider {
    width: 1px;
    height: 25px;
    background: var(--border);
}
