.action-btn {
    flex: 1;
    background: transparent;
    border: 1px solid var(--card-border);
    color: var(--color);
    padding: 6px 0;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.action-btn:hover {
    box-shadow: 0 0 8px var(--card-border);
}

.active {
    background: var(--mastered);
    color: #000 !important;
    border-color: var(--mastered);
}

.actve:hover {
    box-shadow: 0 0 20px var(--mastered);
}

.active.helminth {
    background: var(--helminthed);
    border-color: var(--helminthed);
}

.active.helminth:hover {
    box-shadow: 0 0 10px var(--helminthed);
}
