.searchContainer {
    grid-column: 2;
    height: auto;
    position: relative;
    display: flex;
    width: 100%;
    background: var(--card-bg);
    border: 1px solid var(--accent);
    border-radius: 6px;
    transition: box-shadow 0.2s ease;
}

.searchContainer:hover {
    box-shadow: 0 0 15px var(--accent-glow);
}

.input {
    flex: 1;
    background: transparent;
    border: none;
    color: var(--color);
    padding: 0.8rem 1.5rem;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    outline: none;
    text-transform: uppercase;
}

.filterButton {
    background: transparent;
    border: none;
    color: var(--color);
    padding: 0 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--accent-glow);
}

.filterButton:hover {
    background: var(--accent-glow);
}

.filterButton.active {
    background: var(--accent);
}

.filterIcon {
    transition: all 0.3s ease;
    color: var(--color);
    pointer-events: none;
}

.filterButton.active .filterIcon {
    color: var(--bg);
    transform: rotate(90deg);
}

.filterButton:hover .filterIcon {
    color: var(--accent);
}

.filterButton.active:hover .filterIcon {
    color: var(--color);
}

.filterOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    color: var(--color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--bg);
    border: 1px solid var(--accent-glow);
    transition: 0.4s;
    border-radius: 20px;
    box-sizing: border-box;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    top: 3px;
    left: 4px;

    top: 50%;
    transform: translateY(-50%);

    background-color: var(--accent);
    transition:
        transform 0.4s,
        background-color 0.4s;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--accent-glow);
}

input:checked + .slider {
    background-color: var(--card-border);
    border-color: var(--accent);
}

input:checked + .slider:before {
    transform: translate(20px, -50%);
    background-color: var(--accent);
    box-shadow: 0 0 10px var(--accent-glow);
}

input:hover + .slider {
    box-shadow: 0 0 8px var(--accent-glow);
}
