.contentWrapper {
    composes: contentWrapper from "../Card/Card.module.css";
}

.cardTitle {
    composes: cardTitle from "../Card/Card.module.css";
    margin-bottom: 5px;
}

.cardActions {
    composes: cardActions from "../Card/Card.module.css";
}

.cardInfo {
    margin-top: auto;
}

.categoryBadge {
    text-align: center;
    color: var(--color);
    font-size: 1rem;
}

.counterOverlay {
    text-align: center;
    color: var(--color);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.partsList {
    composes: partsList from "../Card/Card.module.css";
}

.partRow {
    composes: partRow from "../Card/Card.module.css";
}

.mastered {
    composes: mastered from "../Card/Card.module.css";
}
