body {
    background-color: #0f0f0f;
    color: #e0e0e0;
    margin: 0;
}

.dark {
    background-color: #0c0b13;
    color: #c1b1ff;
    --bg: #0c0b13;
    --card-bg: #161421;
    --card-border: #312d4a;
    --btn-bg: #1f1c2e;
    --accent: #9a80ff;
    --accent-glow: rgba(154, 128, 255, 0.3);
}

.light {
    background-color: #e6e2d3;
    --bg: #e6e2d3;
    color: #3d3a33;
    --card-bg: #f5f2e8;
    --card-border: #d4cbb3;
    --btn-bg: #dfd8c4;
    --accent: #c2a35d;
    --accent-glow: rgba(194, 163, 93, 0.4);
}
