:root {
    interpolate-size: allow-keywords;
    font-family: "Segoe UI", sans-serif;

    --bg: rgb(12, 11, 19);
    --color: rgb(187, 187, 187);
    --color-glow: rgb(255, 255, 255);
    --border: rgba(255, 255, 255, 0.1);

    --accent: rgb(154, 128, 255);
    --accent-glow: rgba(154, 128, 255, 0.3);

    --card-bg: rgba(15, 20, 25, 0.8);
    --card-border: rgba(193, 172, 108, 0.3);

    --craftable: rgb(255, 174, 0);
    --craftable-glow: rgba(255, 174, 0, 0.15);
    --owned: rgb(0, 229, 255);
    --owned-glow: rgba(0, 229, 255, 0.15);
    --mastered: rgb(193, 172, 108);
    --mastered-glow: rgba(193, 172, 108, 0.15);
    --helminthed: rgb(163, 78, 176);
    --helminthed-glow: rgba(163, 78, 176, 0.15);
}

[data-theme="light"] {
    --bg: rgb(240, 236, 227);
    --color: rgb(45, 45, 45);
    --color-glow: rgb(19, 19, 19);
    --border: rgba(0, 0, 0, 0.3);

    --accent: rgb(190, 164, 91);
    --accent-glow: rgba(190, 164, 91, 0.6);

    --card-bg: rgba(255, 255, 255, 0.7);
    --card-border: rgba(184, 150, 87, 0.7);

    --craftable: rgb(214, 130, 0);
    --craftable-glow: rgba(214, 130, 0, 0.5);
    --owned: rgb(0, 140, 158);
    --owned-glow: rgba(0, 140, 158, 0.5);
    --mastered: rgb(158, 143, 75);
    --mastered-glow: rgba(158, 143, 75, 0.6);
    --helminthed: rgb(123, 45, 135);
    --helminthed-glow: rgba(123, 45, 135, 0.5);
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    background: var(--bg);
    color: var(--color);
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
