.section {
    width: 98%;
    margin-bottom: 0.5rem;
}

.title {
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--accent);

    color: var(--color);
}

.list {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
