.sidebar {
    height: 100vh;
    width: fit-content;
    background: var(--bg);
    border-right: 1px solid var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    z-index: 100;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.sidebar.expanded {
    width: fit-content;
    align-items: stretch;
    transition: width 0.3s ease;
}

.hamburger {
    background: transparent;
    border: none;
    color: var(--accent);
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem;
    width: auto;
}

.expanded .navLinks {
    padding: 0.5rem;
}

.navLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color);
    padding: 12px 10px;
    border-radius: 4px;
    transition: all 0.2s;
    white-space: nowrap;
    box-sizing: border-box;
}

.navLink:hover {
    background: rgba(var(--accent-glow), 0.1);
    color: var(--accent);
}

.navLink.active {
    background: var(--accent);
    color: var(--bg);
}

.icon {
    min-width: 50px;
    display: flex;
    justify-content: center;
}

.label {
    opacity: 0;
    transition:
        opacity 0.2s,
        width 0.3s ease,
        padding 0.3s ease;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    visibility: hidden;
    width: 0;

    overflow: hidden;
}

.sidebar.expanded .label {
    opacity: 1;
    visibility: visible;
    flex-grow: 1;
    width: auto;
}
