.blurContainer {
    position: fixed;
    inset: 0;
    background: var(--blur);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 199;
}

.pageContainer {
    position: fixed;
    inset: 2.5% auto auto 2.5%;
    width: 95%;
    height: 95%;
    min-height: 95%;
    z-index: 200;
    box-sizing: border-box;

    background-color: var(--bg);
    padding: 0 1.5rem 1.5rem 1.5rem;
    border: 2px solid var(--accent);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    width: 100%;
    padding: 0.75rem 0 0 0;
    background: var(--bg);
    z-index: 100;
    top: 0;
}

.navBottom {
    display: grid;
    position: sticky;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 10px 0;
    gap: 20px;

    border-bottom: 2px solid var(--accent);
}

.title {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    margin: 1.5rem 0 0 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--border);
}

.closeBtn {
    position: fixed;
    top: 4%;
    right: 3.5%;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    background: transparent;
    border: none;
    border-radius: 4px;
    z-index: 201;
    transform: none;
}

.closeBtn:hover {
    background: var(--accent);
}

.closeIcon {
    display: block;
    color: var(--color);
}

.closeBtn:hover .closeIcon {
    color: var(--bg);
}

.scrollContainer {
    width: 98%;
    margin: 0 auto;

    flex: 1;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}
