.row {
    width: 98%;
    margin: 0 auto;

    padding-bottom: 0.35rem;
    margin-bottom: 0.35rem;
    border-bottom: 1px solid var(--border);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;

    align-items: center;
}

.label {
    margin-left: 0.25rem;
}

.globalToggle {
    justify-self: center;
}

.globalButton {
    height: 100%;

    padding: 0;

    color: var(--color);
    background: transparent;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.globalButton:hover {
    background: var(--accent-glow);
}

.globalButton.active {
    background: var(--accent);
    color: var(--bg);
}

.recordButton {
    height: 100%;

    padding: 0;
    margin-right: 0.25rem;

    color: var(--color);
    background: transparent;
    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.recordButton:hover {
    background: var(--accent-glow);
}
